@import url('font.css');

.popup-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#change-popup, #help-popup {
    display: none;
}

.form-container, .info-container {
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 500px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-form {
    width: 90%;
    height: 100%;
    margin: 10px 5%;
}

.help-info {
    width: 90%;
    height: 100%;
    margin: 10px 5%;
}

.input-row {
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#line-input, #square-input, #polygon-input{
    display: none;
}

.label-col {
    float: left;
    width: 25%;
    font-size: 15px;
    text-align: left !important;
    line-height: 22px;
}

.point-label, .square-label {
    text-align: center !important;
    width: 25% !important;
}

.input-col {
    font-family: 'Roboto';
    float: left;
    width: 75%;
}

.point-input, .square-input {
    width: 25% !important;
}

.text-input {
    font-family: 'Roboto';
    width: 100%;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.text-input:focus {
    border: 1px solid #0075FF;
}

.help-button {
    background-color: #FFFFFF;
    color: #F26CA7;
    display: inline;
    font-family: 'Viga';
    border: 2px solid #F26CA7;
    border-radius: 50%;
    text-align: center;
    outline: none;
}

.help-text {
    display: none;
    margin: 0;
    font-size: 14px;
    text-align: left;
}

#warning-text {
    color: #F26CA7;
    font-family: 'Roboto';
    font-weight: bold;
    display: none;
    text-align: center;
}

.cancel-button {
    background-color: #FFFFFF;
    color: #F26CA7;
    font-family: 'Viga';
    font-size: 20px;
    border: 3px solid #F26CA7;
    border-radius: 8px;
    outline: none;
    margin-right: 5px;
}

.cancel-button:hover {
    background-color: #F26CA7;
    color: #FFFFFF;
}

.submit-input {
    background-color: #F26CA7;
    color: #FFFFFF;
    font-family: 'Viga';
    font-size: 20px;
    border: 3px solid #F26CA7;
    border-radius: 8px;
    outline: none;
    margin-left: 5px;
}

.submit-input:hover {
    background-color: #FFFFFF;
    color: #F26CA7;
}

.submit-input:active {
    background-color: #A05B79;
    color: #FFFFFF;
    border: 3px solid #A05B79;
}

.tab-button {
    height: 30px;
    font-family: 'Viga';
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: #F26CA7;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.tab-button:active, .tab-button:focus {
    outline: none;
    background-color: #DDDDDD;
}

.tab-info {
    padding: 5px;
}

.text-info {
    width: 99%;
    height: 200px;
    margin: 0;
    font-family: 'Roboto';
    font-size: 15px;
    border: none;
    resize: none;
    outline: none;
}